<h2 style="color: #000000;">Welcome to <span style="font-size: 80px; color: #000000;">G</span>rievance Management Portal</h2>
<br>
<h3>Hello {{user.name}} !!!</h3>

<br>
<br>
<a href="/complaint" class="btn btn-danger btn-lg">Register a Complaint</a>